# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NODE_ENV="development"
DATABASE_URL="mysql://root:@localhost:3306/lms_system_bsu_db"

NEXT_PUBLIC_SITE_URL="http://localhost:3000/"

NEXTAUTH_URL="http://localhost:3000/"
NEXTAUTH_SECRET="NEXTAUTH_SECRET"

NODEMAILER_GMAIL=""
NODEMAILER_PASSWORD=""

CLOUDINARY_UPLOAD_URL=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_CLOUD_NAME=""
